
input, textarea{
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    margin: 5px 0;
    opacity: 0.85;
    display: inline-block;
    font-size: 17px;
    line-height: 20px;
    text-decoration: none;
  }
  input[type=submit] {
    background-color: #4876f7;
    color: #030303;
    cursor: pointer;
    font-family: 'Bree Serif', serif;
  }